.dashboard-clipboard {
  .dashboard-clipboard-type-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .right,
    .left {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .right {
      margin-right: 10px;
    }

    .dashboard-clipboard-type {
      font-size: 10px;
      padding: 2px 4px 3px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, .1);
      border: 2px solid rgba(255, 255, 255, .1);
      transition: all .6s;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, .2);
        border-color: rgba(255, 255, 255, .2);
      }

      &[data-select='true'] {
        background-color: rgba(255, 255, 255, .3);
        border-color: rgba(255, 255, 255, .3);
      }
    }
  }

  .dashboard-clipboard-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    min-height: 100px;
    max-height: calc(var(--h) - 150px);
    padding: 10px;
    border-radius: 12px;
    background: #000;


    .clipboard-item {
      border: 2px solid rgba(255, 255, 255, .1);
      background: #141414;
      border-radius: 12px;
      transition: all .6s;

      &-content {
        cursor: pointer;
      }

      &[data-select='true'],
      &:hover {
        border: 2px solid rgba(255, 255, 255, .3);

        svg {
          --color: rgba(255, 255, 255, .5);
        }

      }

      svg {
        width: 24px;
        height: 24px;

        --size: 18px;
        --color: rgba(255, 255, 255, .15);
        cursor: pointer;

        &:hover {
          --color: rgba(255, 255, 255, .9);
        }
      }

      svg,
      svg rect,
      svg path {
        font-size: var(--size);
        color: var(--color);
        transition: all .6s;
      }

      svg.remove {
        --color: rgba(255, 0, 0, .4);

        &:hover {
          --color: rgba(255, 0, 0, .9);
        }
      }
    }

    .clipboard-item-footer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 10px;
      padding: 5px 10px;

      &-right {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }

      div {
        color: rgba(255, 255, 255, .5);
        font-size: 9px;
      }
    }

    .clipboard-item-content {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr auto;
      gap: 10px;
      transition: all .6s;

      .content {
        padding: 5px 6px;
        padding-left: 12px;
        color: rgba(255, 255, 255, .8);
        font-size: 12px;
        max-height: 200px;
        overflow-y: auto;

        // &.text {
        // }

        &.image {
          img {
            min-width: 300px;
            max-width: 100%;
          }
        }
      }
    }
  }
}