.trm {
  width: 100%;
  max-height: var(--h);

  [data-status='low'] {
    --color: rgb(25, 203, 108);
    --bg: rgba(25, 203, 108, .2);
  }

  [data-status='medium'] {
    --color: rgb(252, 172, 59);
    --bg: rgba(252, 172, 59, .2);
  }

  [data-status='high'] {
    --color: rgb(255, 91, 88);
    --bg: rgba(255, 91, 88, .2);
  }
}