.dashboard-clipboard {
  .dashboard-clipboard-container-layout-right {
    display: flex;
    flex-direction: column;
    gap: 5px;

    svg {
      --size: 16px;
      --color: rgba(255, 255, 255, .7);
      padding: 5px;
      border: 2px solid rgba(255, 255, 255, .1);
      border-radius: 8px;
      cursor: pointer;
      transition: all .6s;

      &:hover {
        --color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, .3);
      }
    }

    svg,
    svg rect,
    svg path {
      font-size: var(--size);
      color: var(--color);
      transition: all .6s;
    }
  }

  .btns {
    display: flex;
    flex-direction: column;
    padding: 2px 4px 2px 0;
    transition: all .6s;

    svg {
      width: 20px;
      height: 20px;

      --size: 16px;
      --color: rgba(255, 255, 255, .15);
      cursor: pointer;

      &:hover {
        --color: rgba(255, 255, 255, .9);
      }
    }

    svg,
    svg rect,
    svg path {
      font-size: var(--size);
      color: var(--color);
      transition: all .6s;
    }

    svg.remove {
      --color: rgba(255, 0, 0, .6);

      &:hover {
        --color: rgba(255, 0, 0, .9);
      }
    }

  }

  svg.star {
    transition: all .6s;

    &:hover {
      --color: rgba(244, 185, 82, 5) !important;
    }
  }

  .clipboard-item {
    .btns {
      visibility: hidden;
    }

    &:hover {
      .btns {
        visibility: visible;

     
      }
    }
  }

  [data-star='true'] svg.star {
    visibility: visible;
    --color: rgb(244, 185, 82) !important;
  }


}