.dashboard-info {
  .ddl-info-box {
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
  }

  .ddl-info {
    font-size: 13px;
    padding-bottom: 7px;
    letter-spacing: 2px;
  }

  &-row {
    display: flex;
    justify-content: space-between;

    &>h4,
    &>div {
      font-size: 12px;
      white-space: nowrap;
    }
  }
}