.dashboard-project {
  min-width: 100px;
  background: rgb(43, 43, 43);
  border-radius: 12px;

  &-container {
    min-height: 100px;
    // max-height: calc(var(--h) - 10px);
    max-height: 90vh;
    padding: 10px;
    border-radius: 12px;
    background: #000;
  }

  .opt-item {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    transition: transform .5s;
    gap: 5px;
    flex-direction: row;
    align-items: center;

    &-name {
      font-size: 14px;
      line-height: 28px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: rgba(255, 255, 255, .5);
      transition: all .6s;
      text-decoration-color: rgba(255, 255, 255, .5);

      &:hover {
        color: rgba(255, 255, 255, .9);
        text-shadow: 0 0 8px rgba(95, 200, 118, .2);
      }
    }

    &[data-select='true'] {
      .opt-item-name {
        color: rgba(255, 255, 255, .9);
        text-shadow: 0 0 8px rgba(95, 200, 118, .2);
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }

    &[data-start="1"] {
      .opt-item-name {
        color: var(--success) !important;
        text-decoration-color: rgba(95, 200, 118, .3);
        text-shadow: 0 0 8px rgba(95, 200, 118, .3);
      }
    }

  }
}