.main-layout-header {
  background: transparent;

  &-major {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    height: var(--header-height);
    gap: 10px;
    background: rgba(43, 43, 43, 0.9);

    &-control {
      display: flex;
      gap: 0.3rem;
      padding-left: 20px;

      &>span {
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        cursor: pointer;
      }

      &-close {
        background: rgba(255, 0, 0, 0.9);
      }

      &-min {
        background: rgba(250, 214, 100, 0.9);
      }

      &-max {
        background: rgba(0, 255, 0, 0.9);
      }
    }

    &-tabs {
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      height: 100%;
      line-height: 32px;
      margin-left: 20px;
      border-radius: 16px;
      gap: 10px;

      &-container {
        height: 80%;
        display: flex;
        gap: 5px;
        flex-direction: row;
      }

      &>div:not(.last) {
        cursor: pointer;
      }

      .main-layout-header-major-tab-item {
        font-weight: bold;
        padding: 0px 20px 10px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        transition: all .7s;
        cursor: pointer;

        &[data-active='true'] {
          background-color: #3c3c3c;
        }

        &[data-active='false']:hover {
          background-color: #134a77;
        }
      }
    }

    &-title {
      font-size: 14px;
    }

    &-handle {
      height: 100%;
      min-width: 80px;
      cursor: grab;
      -webkit-app-region: drag;
    }
  }
}