.dashboard-log {
  background: rgb(43, 43, 43);
  border-radius: 12px;
  padding: 20px;

  &-container {
    border-radius: 12px;
    margin-top: 20px;
    min-height: 200px;
    background: #000;
    color: #fff;
  }
}