# root = true

[*]
# charset = utf-8
charset = gbk
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# [*.{bat,cmd}]
# charset = gbk
# end_of_line = crlf