.login-platform {
  &-header {}

  &-container {
    display: flex;
    gap: 10px;
  }

  &-item {
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 12px;
    background: var(--bg-content);
    --color: var(--warning);

    svg,
    path,
    .name {
      color: var(--color);
    }

    border: 2px solid var(--color);
  }
}