.terminal-page {
  background-color: #000;
  max-height: var(--h);
  min-height: var(--h);
  overflow: auto;
  padding: 10px;

  &-container {
    border-radius: 12px;
    padding: 10px;
    background: #282828;
    max-height: var(--h);
    overflow: auto;
  }
}