@import url(./modules.less);
@import url(./setting.less);
@import url(./file-tree.less);
@import url(./opt.less);

.root-layout-home-view {
  background-color: #000000;

  .module-bg {
    border-radius: 12px;
    background: #2b2b2b;
    padding: 20px;
  }
}

.root-layout-home-view-terminal {
  span {
    letter-spacing: 1.5px !important;
  }
}

.root-layout-home-view-quick-start {
  &-container {
    padding: 20px;
  }

  .quickStart-app-container {
    max-height: 300px;
    overflow-y: auto;
    flex-wrap: wrap;
  }

  .quickStart-group{
    background-color: #000;
    width: 100%;
    min-height: 32px;
    padding: 10px;
    border-radius: 12px;
    &-container{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .quickStart-app {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    cursor: pointer;
    transition: all .6s;

    &:hover {
      background-color: #000;
    }
  }

}

.root-layout-home-view-git-review {

  .root-layout-home-view-git-review-module-bg.module-bg {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
  }

  &-container {
    display: grid;
    grid-template-columns: 3fr 2fr;

    &>.left,
    &>.right,
    &>.right>.right-children,
    &>.left>.left-children {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &>.left {
      &>.git-container {
        background: rgb(43, 43, 43);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-right: 5px;
      }

      &>.left-children {
        margin-right: 5px;
      }
    }

    &>.right {

      &>.controls {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: rgb(43, 43, 43);
        padding: 10px;
        margin-left: -5px;
        border-bottom-right-radius: 8px;
      }

      &>.right-children {
        margin-left: 5px;
      }
    }



  }
}