.root-layout-home-view-modules {
  .grid-layout {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-height: calc(var(--h) - 150px);
    padding: 20px;
    border-bottom: 20px solid rgb(43, 43, 43);
    border-radius: 12px;
  }

  .opt-item {
    line-height: 32px;
    padding-left: 12px;
    transition: transform .5s;
    background: #141414;

    &:hover {
      transform: scale(1.03);
    }

    &[data-start="1"] {
      border-color: var(--success) !important;
      box-shadow: 0 0 6px var(--success) !important;
      // background: rgba(255, 255, 255, .15);
    }

    &:not([data-start="1"]) .opt.stop {
      display: none;
    }
  }

  [data-start="1"] .opt.run {
    display: none !important;
  }
}