[data-disabled='true'] {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: .5;
}

[data-hidden='true'] {
  display: none !important;
}

[data-hidden-render='true'] {
  visibility: hidden !important;
  position: fixed !important;
  left: -100px !important;
  // width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}

// &[data-hidden-render='true'] {
//   display: none !important;
// }


.run {

  svg,
  svg path,
  svg rect,
  span {
    font-weight: bold;
    color: var(--success) !important;
  }

  &:hover {
    border-color: var(--success) !important;
  }
}

.stop {

  svg,
  svg path,
  svg rect,
  span {
    font-weight: bold;
    color: var(--error) !important;
  }

  &:hover {
    border-color: var(--error) !important;
  }
}

pre {
  white-space: pre-wrap;
}

button {
  --color: #ffffffc0;

  svg {

    path,
    rect {
      color: var(--color);
    }
  }
}