.root-view {
  padding-right: 5px;
  overflow: hidden;
  background-color: var(--bg);

  &[data-hidden="true"] {
    display: none !important;
  }

  &-content {
    border-radius: 6px;
    width: 100%;
    height: var(--h);
    overflow: hidden;
    background-color: var(--bg-content);
  }

  .root-view-item {
    height: var(--h);
    overflow: hidden;

  }

  &-iframe {
    display: flex;
    border: none;
    width: 100vw;
    background-color: #fff;
    transition: all .3s;
    height: 100%;

    &[data-hidden="true"] {
      display: none;
    }

    & div {
      background-color: #000;
    }
  }
}