:root {
  --resize-handle-width: 8px;
  --resize-handle-color: transparent;
  --resize-handle-hover-color: rgba(66, 153, 225, 0.5);
  --header-height: 36px;
  --h: calc(100vh - var(--header-height) - 1px);

  --warning: #fcac3b;
  --error: #ff5b58;
  --success: #19cb6c;
  --disabled: rgba(255, 255, 255, .5);

  --warning-bg: #fcac3b;
  --error-bg: #ff5b58;
  --success-bg: #334a39;
  --disabled-bg: rgba(255, 255, 255, .5);
}

.main-layout {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  &>div:not(.main-layout-header) {
    overflow-y: auto;
  }
}

button,
button span {
  font-size: 12px;
}

* {
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

body,
html {
  background: transparent;
  font-size: 16px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  /* 默认字重 */
  -webkit-font-smoothing: antialiased;
  /* 开启webkit内核抗锯齿（Mac/iOS） */
  -moz-osx-font-smoothing: grayscale;
  /* 开启Firefox抗锯齿 */
  // font-family: PingFang SC;
  // font-family: YaHei;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}