.project-item-content {
  border-radius: 12px;

  &-header {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
  }

  &-module {
    width: 100%;

    &-name {
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-left: 10px;
    }

    &-child {
      display: flex;
      flex-direction: row;
      gap: 10px;
      flex-wrap: wrap;

      &-item {
        --color: #fff;
        font-size: 10px;

        &.ant-btn:hover {
          border-color: var(--color) !important;
        }

        span {
          color: var(--color);
        }

        svg,
        path {
          color: var(--color);
        }

        &[data-type='install'] {
          --color: var(--success);
        }

        &[data-type='uninstall'] {
          --color: var(--error);
        }

        &[data-type='reinstall'] {
          --color: var(--warning);
        }
      }
    }
  }

  .run-group {
    width: 100%;

    &-box {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }


  &[data-start='true'] {
    .title {
      color: var(--success);
    }
  }

  .ant-btn:disabled {
    border: none !important;
  }


  .pids {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    font-weight: bold;

    div {
      font-size: 10px;
      letter-spacing: 1px;
      color: #ffffff60;
    }
  }
}

.project-item-header {
  position: relative;

  &-badge {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 24px;
    left: 0;
    font-size: 10px;

    &>div {
      color: #ffffff60;

      &[data-status='success'] {
        color: var(--success);
      }

      &[data-status='error'] {
        color: var(--error);
      }

    }
  }


}