.dashboard-info-ddl {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-module);

  .ddl-info-box {
    cursor: pointer;
  }

  .ddl-info {
    font-size: 13px;
    padding-bottom: 7px;
    letter-spacing: 2px;
  }

  &-row {
    display: flex;
    justify-content: space-between;

    &>h4,
    &>div {
      font-size: 12px;
      white-space: nowrap;
    }
  }
}

.dashboard-info {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-module);
  padding-right: 50px;

  &-row {
    display: flex;
    justify-content: space-between;

    &>h4,
    &>div {
      font-size: 12px;
      white-space: nowrap;
    }
  }
}