.page__setting {
  background: #000;
  height: var(--h);

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: rgb(60, 60, 60);
    padding: 10px;
    height: var(--h-header);
    margin-bottom: 10px;
  }

  .module-card {
    background: rgb(60, 60, 60);
    padding: 10px;
  }
}