.page__other {
  background: #000;
  height: var(--h);
  overflow-x: hidden;
  overflow-y: auto;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
  }

  .other-card {
    padding: 20px;
    background-color: #3c3c3c;
    border-radius: 12px;
    font-size: 12px;

    button span {
      font-size: 10px;
    }

    .title {
      font-weight: bold;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}