.root-layout-home-view-git-review {

  .root-layout-home-view-git-review-module-bg.module-bg {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
  }

  &-container {
    .controls {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 10px;
      padding-bottom: 10px;
    }

    &>.git-container {
      background: rgb(43, 43, 43);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &>.left-children {
      margin-right: 5px;
    }
  }
}