.root-layout-home-view-modules {

  &-container {
    min-height: 100px;
    max-height: calc(var(--h) - 10px);
    padding: 10px;
    border-radius: 12px;
    background: #000;
  }

  .opt-item {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    transition: transform .5s;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;

    &-name {
      font-size: 12px;
      display: flex;
      align-items: center;
      line-height: 24px;
      justify-content: flex-start;
      transition: all .3s;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-btns {
      height: 26px;
      justify-content: flex-start;

      svg {
        opacity: 0;
        transition: all .9s;

        &.alway-show {
          opacity: .5;
        }
      }

    }

    &:hover {
      .opt-item-btns svg {
        opacity: .9;
      }
    }

    &[data-start="1"] {
      .opt-item-name {
        color: var(--success) !important;
      }
    }

    &:not([data-start="1"]) .opt.stop {
      display: none;
    }
  }

  [data-start="1"] .opt.run {
    display: none !important;
  }
}