.file-resource-management .frm-review {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .frm-review-header {
    padding-bottom: 10px;
    background: rgb(43, 43, 43);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    svg {
      width: 24px;
    }

    svg,
    svg>path {
      font-size: 24px;
    }
  }

  .frm-review-layout {
    padding: 10px;
    height: 100%;
    background: rgb(43, 43, 43);
    border-radius: 12px;
    overflow: hidden;


    &.frm-review-layout__dir {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      // grid-template-rows: 1fr auto;
      gap: 5px;
    }

    &.frm-review-layout__file {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      // grid-template-rows: auto 1fr;
      height: 100%;
      overflow: hidden;
      gap: 30px;

      .reload {
        position: absolute;
        top: 0px;
        right: 10px;
        height: 24px;
      }
    }
  }

  .frm-review-container {
    height: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 5px;
    align-content: start;
    overflow: hidden;
    overflow-y: auto;

    &-col {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .frm-review-footer {
    display: flex;
    justify-content: flex-end;
    zoom: .7;

    &-total {
      font-size: 18px;
      padding-right: 10px;
    }
  }

  .frm-review-item {
    min-height: 20px;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: wrap;

    &-box {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 5px;
      cursor: pointer;

      span {
        user-select: none;
      }

      &>svg {
        margin-top: 2px;
        min-width: 16px;
        width: 16px;
        height: 16px;
      }
    }

    .right-arrow {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 100px;
      object-fit: contain;
    }
  }

  .frm-review-file-json {

    &-render {
      background-color: rgba(255, 255, 255, .1);
      padding: 10px;
      border-radius: 12px;
    }
  }
}