.frm-file-tree-item {
  content-visibility: auto;

  &-render {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    white-space: nowrap;
    gap: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    content-visibility: auto;
    contain-intrinsic-height: 24px;
    transition: all .3s;

    &>div {
      height: 24px;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    // svg[data-icon-type='right-arrow'] {
    //   // margin-top: 2px;
    // }

    // svg[data-icon-type='dir'] {
    //   // margin-top: 3px;

    //   path {
    //     font-size: 16px;
    //   }
    // }

    span,
    svg {
      white-space: nowrap;
    }

    &-name {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: -3px;
    }

    .tree-logo {
      gap: 5px;
      padding: 0 4px;

      svg,
      path {
        font-size: 18px !important;
      }
    }
  }
}