@import url(./position.less);
@import url(./flex.less);
@import url(./margin-padding.less);
@import url(./color.less);
@import url(./w-h.less);
@import url(./border.less);
@import url(./grid.less);

.bg {
  background: #000;
}

.block{
  display: block;
}

// 字体
.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.border-radius,
.round {
  border-radius: 12px;
}

.border-radius-full,
.round-full {
  border-radius: 50%;
}

.box-shadow {
  box-shadow: 0 0 3px rgba(255, 255, 255, .8);
}

.text,
.text-10 {
  font-size: 10px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.overflow {
  overflow: auto;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

// 特殊
.none {
  display: none;
}

.hidden {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  right: -100%;
  bottom: -100%;
}

// 鼠标
.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}