.git-review {
  .git-review-header {
    min-height: var(--h-header);
    padding: 10px 0;
  }

  // .git-container {
  // background: var(--bg-module);
  // }

  &-container {
    .controls {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 10px;
      padding-bottom: 10px;
    }


    &>.left-children {
      margin-right: 5px;
    }
  }

  .repo-status {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .update {
      color: var(--warning);
    }

    .add {
      color: var(--success);
    }

    .delete {
      color: var(--error);
    }
  }
}