.project {
  padding: 10px;
  max-height: var(--h);
  overflow-y: auto;

  &-header {
    padding: 0 10px 0 5px;

    &-query-input {
      width: 100%;

      &>div {
        width: 100%;
      }
    }
  }

  &-item {
    border-radius: 12px;
    padding: 0 10px;
  }

  &-item {
    &-name {
      font-size: 13px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      height: 32px;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        transition: all .3s;
        transform-origin: center;
      }

    }

    &[data-start="1"] {

      .project-item-name {
        font-weight: bold;
        color: var(--success);
      }
    }

    &[data-fold="true"] {

      // .project-item-fold svg {
      //   transform: rotate(-180deg);
      // }

      .project-item-content {
        display: none;
      }
    }

    [data-show-git="true"] {
      background-color: #40cc7030;
    }

  }

}